	  <h3>You have {{ dogBonesNum }} dog ones!</h3>
	  <h3>Click on a name to view their profile</div>
	  {{#each dogBone}}
		  <div>"Hi, I'm <span id="dogBone"><a href="#">{{name}}</a></span> and I want to romp with you!"</div>
	  <!-- <div class='dogPack'><button type="button" id={{{@key}}} type="button" class="btn btn-info btn-sm delete" data-toggle="modal" data-target="#myModal">I would like to romp with {{name}}</button>   -->
	  {{/each}}


